html,body,menu,ul,ol,li,p,div,form,h1,h2,h3,h4,h5,h6,img,a img,input,button,textarea,fieldset {
	padding: 0;
	margin: 0;
	border: 0
}

ul,ol,li {
	list-style: none
}

h1,h2,h3,h4,h5,h6,b,i,em {
	font-size: 1em;
	font-weight: normal;
	font-style: normal
}

body,input,button,textarea,select {
	font-family: "Microsoft YaHei",Helvetica;
	-webkit-text-size-adjust: none;
	font: normal 14px/1.5em helvetica,verdana,san-serif;
	outline: 0;
	color: #333
}

body {
	min-width: 320px;
	margin: 0 auto;
	background: #fff
}

input[type="text"],input[type="password"],input[type="button"],input[type="submit"],button,textarea {
	-webkit-appearance: none
}

a {
	text-decoration: none;
	color: #333
}
.img img,video {
	vertical-align: middle
}