body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:focus {
	outline: none;
}
 
form {
	width: 300px;
	margin: 20px auto;
}

p {
	line-height: 1.6;
}

input, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 20px;
	width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

label, input, textarea, fieldset {
	display: block;
}

fieldset#account {
	width: 250px;
	margin: 10px;
	float: left;
	background: rgb(244,244,244);
	background: rgba(244,244,244,0.7);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border: 3px double #999;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

legend {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	color: #999;
	margin-left: -20px;
	text-align: center;
	padding: 0 10px;
	text-shadow: 1px 1px 0 #ccc;
}

textarea {
	min-height: 80px;
}

input:focus, textarea:focus {
	-webkit-box-shadow: 0 0 25px #ccc;
	-moz-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #ccc;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
			
input:not(:focus), textarea:not(:focus) {
	opacity: 0.5;
}

input:required, textarea:required {
	background: url("../images/asterisk_orange.png") no-repeat 280px 7px;
}

input:valid, textarea:valid {
	background: url("../images/tick.png") no-repeat 280px 5px;
}

input:focus:invalid, textarea:focus:invalid {
	background: url("../images/cancel.png") no-repeat 280px 7px;
}

input[type=submit] {
	padding: 10px;
	background: none;
	opacity: 1.0;
}	